/* Write your CSS here */
.alert-notifications-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  padding: 2rem;
  font-family: 'Roboto';
}

.alert-notifications-header {
  color: #0f172a;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
}

.alert-notifications-list {
  list-style-type: none;
  padding-left: 0;
}

@media (min-width: 768px) {
  .alert-notifications-header {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}
